body{
    background-color: #000000;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    width:1000 px;
}

.description{
    font-size: 15px;
    margin: 20px;
    width: 900px;
    height: 300px;
    color: #FFFFFF;
    position:absolute;
    margin-top: 900px;
}
.hr{
    border: 2px solid #FFFFFF;
    width: 950px;
    margin: 20px;
    position:absolute;
    margin-top: 888px;
    
}
.hr2{
    border: 2px solid #FFFFFF;
    width: 950px;
    margin: 20px;
    position:absolute;
    margin-top: 1150px;
}
.hr3{
    border: 2px solid #FFFFFF;
    width: 950px;
    margin: 20px;
    position:absolute;
    margin-top: 2000px;
}
.hr4{
    border: 2px solid #FFFFFF;
    width: 950px;
    margin: 20px;
    position:absolute;
    margin-top: 1650px;
}
.right{
    position: absolute;
    margin-top: 140px;
    margin-left: 10px;
    width: 300px;
    height: 220px;
}
.left{
    position: absolute;
    margin-top: 140px;
    margin-left:530px;
     width: 300px;
    height: 220px;
    transform:rotateY(180deg );
}
.skull{
    position: absolute;
    margin-top:80px;
    margin-left:220px;
    width: 400px;
    height:350px;
}
.nav {
    display: flex;              /* Activate flexbox */
    justify-content: space-between; /* Logo left, links right */
    align-items: center;        /* Vertical center */
    padding: 1px 1px;
    
   
    gap: 1px;
}
a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px;
    margin-left: 100px;
}
.title{
    font-size: 50px;
    margin: 20px;
    width: 1000px;
    height: 300px;
    color: #FFFFFF;
    position:absolute;
    margin-top: 400px;
    margin-left: 80px;
}   

.ba{
    position: absolute;
    margin-top: 1200px;
    margin-left: 0px;
    width: 1000px;
    height: 700px;
}

body::ship{
      position:absolute;
    margin-top: 0px;
   
   
 

}

.mm{
    position: absolute;
    margin-top: 1130px;
    margin-left: 100px;
    width: 500px;
    height: 500px;
    opacity: 20%;
    border-radius: 10%;
    background-color: #9e9e9e
}
.btn{
    position: absolute;
    margin-top: 1550px;
    margin-left: 150px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 15px;
    
    background-color: #ffffff
}

