body{
    background-color: #000000;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
}

.description{
    font-size: 15px;
    margin: 20px;
    width: 900px;
    height: 300px;
    color: #FFFFFF;
    position:absolute;
    margin-top: 700px;
}
.hr{
    border: 2px solid #FFFFFF;
    width: 950px;
    margin: 20px;
    position:absolute;
    margin-top: 688px;
    
}
.hr2{
    border: 2px solid #FFFFFF;
    width: 950px;
    margin: 20px;
    position:absolute;
    margin-top: 950px;
}
.right{
    position: absolute;
    margin-top: 140px;
    margin-left: 200px;
    width: 400px;
    height: 300px;
}
.left{
    position: absolute;
    margin-top: 140px;
    margin-left: 900px;
    width: 400px;
    height: 300px;
    transform:rotateY(180deg );
}
.skull{
    position: absolute;
    margin-top: 10px;
    margin-left:450px;
    width: 600px;
    height: 500px;
}
.nav {
    display: flex;              /* Activate flexbox */
    justify-content: space-between; /* Logo left, links right */
    align-items: center;        /* Vertical center */
    padding: 10px 20px;
    background: black;
}
a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px;
    margin-left: 100px;
}
.title{
    font-size: 80px;
    margin: 20px;
    width: 1100px;
    height: 300px;
    color: #FFFFFF;
    position:absolute;
    margin-top: 450px;
    margin-left: 210px;
}   

.ba{
    position: absolute;
    margin-top: 1200px;
    margin-left: 0px;
    width: 1000px;
    height: 700px;
}

.wav1{
      position: absolute;
    margin-top: 1760px;
    margin-left: 1000px;
    width: 240px;
    height: 140px;
}
.wav2{
      position: absolute;
        margin-top: 1760px;
    margin-left: 1240px;
    width: 275px;
    height: 140px;
   
}
.mm{
    position: absolute;
    margin-top: 1200px;
    margin-left: 950px;
    width: 500px;
    height: 500px;
    opacity: 20%;
    border-radius: 10%;
    background-color: #9e9e9e
}
.btn{
    position: absolute;
    margin-top: 1600px;
    margin-left: 1000px;
    width: 400px;
    height: 50px;
    
    background-color: #ffffff
}

